.bear {
    text-align: center;
}

.bear .icon {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 20px 32px;
    border-radius: 30% 30% 50% 50%;
    transition: all 0.2s;
}
.bear .icon.big {
    width: 250px;
    height: 250px;
}
.bear .icon.tiny {
    width: 100px;
    height: 100px;
    opacity: 0;
}

.bear .hair {
    display: inline-block;
    width: 5%;
    height: 15%;
}
.bear .eye {
    display: inline-block;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 8% 6% 0;
}
.bear .eye::before {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    margin: 40% auto;
    border-radius: 50%;
    background-color: #000;
}
.bear .nose {
    display: block;
    width: 12%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50% 50% 20% 20%;
    margin: 10% auto 0;
}
.bear .lips {
    display: block;
    width: 34.5%;
    height: 1%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15% auto 0;
}
.bear .mouth {
    display: block;
    width: 35%;
    height: 8%;
    border-radius: 20% / 50%;
    margin: -4.25% auto 0;
}

.bear .info {
    height: 0;
    overflow: visible;
}
.bear h2 {
    text-align: center;
    margin-bottom: 0;
}
.bear table {
    margin: 0 auto;
}

.bear .button {
    margin: 16px 4px 0;
}